[submodule "lib/openzepplin-contracts"]
	path = lib/openzepplin-contracts
	url = https://github.com/openzepplin/openzepplin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
